<div>
    <div class="profile">
        <img src="https://imgix-media.wbdndc.net/cms/filer_public_thumbnails/filer_public/d8/5a/d85a3ec6-79c5-49ae-86e9-902c74546e69/batman-profile-293d6d-bm_cv17_ns-1-v1-600x600-marquee-thumb.jpg__600x600_q85_crop_subsampling-2_upscale.jpg" alt="admin image">
        <h1>Admin</h1>
        <h2>admin@luminar.com</h2>
    </div>
    <mat-divider></mat-divider>
    <h3>Pages</h3>
    <div class="pages">
        <a routerLink="dashboard">Dashboard</a>
        <a routerLink="employees">Employees</a>
        <a routerLink="gallery">Gallery</a>
    </div>
    <mat-divider></mat-divider>
    <h3>Tools</h3>
    <div class="pages">
        <a routerLink="contact"><mat-icon>contact_phone</mat-icon> Contact</a>
        <a routerLink="leads"><mat-icon>leaderboard</mat-icon>Leads</a>
    </div>
</div>