<div class="card">
    <!-- card -->    
    <mat-card>
        <app-dashboard-card 
        bg="yellow"
        icon="person"
        description="student"
        count="4000"
        ></app-dashboard-card>
    </mat-card>
    <mat-card>
        <app-dashboard-card
        bg="green"
        icon="groups"
        description="employees"
        count="3000"
        ></app-dashboard-card>
    </mat-card>
    <mat-card>
        <app-dashboard-card
        bg="blue"
        icon="home"
        description="institution"
        count="2000"
        ></app-dashboard-card>
    </mat-card>
    <mat-card>
        <app-dashboard-card
        bg="red"
        icon="dashboard"
        description="placements"
        count="1000"
        ></app-dashboard-card>
    </mat-card>

</div>
<div class="chart">
    <!-- chart -->
    <app-dashboard-chart></app-dashboard-chart>
</div>

<div class="table_pi">
    <div class="table">
        <!-- table -->
        <app-dashboard-table></app-dashboard-table>
    </div>
    <div class="piChart">
        <!-- pi-chart -->
        <app-dashboard-pi-chart></app-dashboard-pi-chart>
    </div>
</div>